@use 'config' as *;

#sec2 {
  border-radius: 0 100px 0 100px;
  $clr1: map-get($clr-gradient, 400 );
  $clr2: map-get($clr-gradient, 500 );
  @include bg-gradient($clr1,$clr2);
  color: map-get($clr-neutral, 200 );
  position: relative;
  min-height: 38rem;
  margin-top: 12rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
   
  > picture  {
    height: inherit;
    overflow: hidden;
    img {
      max-width: 500px;
      scale: 1.2;
      width: 100%;
      margin-top: -8rem;
    }
  }
  
  .sec2-container {
    position: absolute;
    inset: 0 0 0 0;
    text-align: center;
    max-width: 600px;
    margin-inline: auto;
    
    img {
      animation: fadeInLeft;
      animation-duration: 1s;
      margin-top: -12rem;
    }
  }
  
  article {
    padding: 1.5rem;
    max-width: 560px;
    margin-inline: auto;
    animation: fadeInRight;
    animation-duration: 1s;
  }

  h2 {
    font-size: $heading;
    line-height: 1.2;
    color: map-get($clr-neutral, 100 );
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 40rem) {
  #sec2 {
    animation: fadeIn;
    animation-duration: .6s;
    min-height: initial;
    height: 22rem;
    margin: 0;

    > picture img {
      scale: 1.5;
      width: 100%;
    }

    .sec2-container {
      display: flex;
      align-items: center;
      max-width: 980px;
      img {
        margin: 0;
      }

      picture {
        flex: 1;
      }

      article {
        flex: 1;
      }
    }
  }
}